@font-face{
    font-family: 'Montser';
    src: url(Font/montserrat/montserratalternates-light-webfont.woff2)format('woff2'),
        url(Font/montserrat/montserratalternates-light-webfont.woff)format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Alex-Brush';
    src: url(Font/alex-brush/alexbrush-regular-webfont.woff2)format('woff2'),
        url(Font/alex-brush/alexbrush-regular-webfont.woff)format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Montser',arial,sans-serif;
    background-color: #3C5768 ;
}

header{
    background-color: #7EA1C4;
    color: #3C5768;
    margin-bottom: 5em;
}

header h4{
    background-color: #F2CAA7;
    text-align: center;
    margin: 1%;
    padding: 1%;
    border-radius: 10%;
}

a{
    color: #3C5768;
    text-decoration: none;
}

.logo{
    width: 150px;
}


.btncarrouselle{
    background-color: #F2CAA7;
    color: #3C5768;
    height: 15%;
    bottom: 0;
    left:2%;

}

.container{
    background-color: #3C5768;
    padding: 2%;
    width: 100%;
    height:50%;
}

p{
    font-size: 2em;
    color: #F2CAA7;
}

.composition, .presentation{
    color: white;
    font-size: 1.5em;
    list-style-position: inside;
}

.rounded{
    border-radius: 500px;
}

.carrouselle{
    height: 100%;
    width: 100%;
}

.d-block{
    width: 40em;
    height: 40em;
}

h1 ,h2{
    color: #F2CAA7;
    font-family: 'Alex-brush', arial,sans-serif;
}


figcaption{
    color:#F2CAA7;
    font-size: 2em;
}

h1{
    text-align: center;
    font-size: 8em;
}
h2{
    font-size: 4em;
}

footer{
    background-color: #F2CAA7;
    padding:1%;
    
}

footer article p{
    font-size: 1em;
    color: #3C5768;
}

hr{
    color: #F2CAA7;
}